@import "tailwindcss";

@theme {
  --color-dark: #020202;
  --color-light: #fbfbf4;
  --color-grey: #666666;
  --color-grey-dark: #0e0e0e;
  --color-grey-light: #f7f7f7;
  --color-green: #afffa8;
  --color-purple: #d796ff;
  --color-orange: #ff852d;
  --color-yellow: #fdff99;
  --color-blue: #89c8ff;

  --color-n-6: #f4f4e8;
  --color-n-5: #e7e6dc;
  --color-n-4: #d2d0c4;
  --color-n-3: #b2b0a6;
  --color-n-2: #807f76;
  --color-n-1: #41413d;
  --color-n-0: #222220;

  --font-body: var(--font-body);
  --font-heading: var(--font-migra);
  --ease-ease: cubic-bezier(0.16, 1, 0.3, 1);
}

@layer base {
  :root {
    --header-height: 7.2rem;
  }

  html {
    @apply text-[.6944444444vw] leading-[100%] antialiased [-webkit-text-size-adjust:100%];
  }

  @media (max-width: 1099px) {
    html {
      font-size: 1.3513513514vw;
    }
  }

  @media (max-width: 499px) {
    html {
      font-size: 2.5vw;
    }
  }

  body {
    @apply bg-dark text-light text-2xl leading-[140%] font-body;
  }

  html,
  body {
    @apply w-full h-auto overflow-x-hidden m-0 overscroll-none [scrollbar-width:none];
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  #work .work-grid,
  #work .work-list {
    @apply relative w-full transition-opacity duration-400 ease-ease;
  }

  #work .work-grid:not(.active),
  #work .work-list:not(.active) {
    position: absolute;
    top: 0;
    left: 0;
  }

  #work .work-grid:not(.loaded),
  #work .work-list:not(.loaded) {
    opacity: 0;
    pointer-events: none;
  }

  #work .project.inactive {
    display: none;
  }

  #work .split-hover {
    position: relative;
    display: block;
    overflow: hidden;
  }

  #work .split-hover .line {
    display: block;
    transition: transform 0.8s var(--ease-ease);
  }

  #work .split-hover .line-hover {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(110%);
  }

  #work .work-filter-select-text:hover .line-normal,
  #work .work-filter-btn:hover .line-normal,
  #work .work-switcher-option:hover .line-normal {
    transform: translateY(-110%);
  }

  #work .work-filter-select-text:hover .line-hover,
  #work .work-filter-btn:hover .line-hover,
  #work .work-switcher-option:hover .line-hover {
    transform: translateY(0%);
  }

  #work .work-switcher-option.active .work-switcher-bg {
    background: #fff3;
  }

  #work .split-lines .word {
    display: inline-block;
  }

  #work .split-lines .line {
    display: block;
    position: relative;
    overflow: hidden;
  }

  #work .split-lines .line-inner {
    display: block;
    will-change: transform;
  }
}
