@import "tailwindcss";

@theme {
  --color-dark: #020202;
  --color-light: #fbfbf4;
  --color-grey: #666666;
  --color-grey-dark: #0e0e0e;
  --color-grey-light: #f7f7f7;
  --color-green: #afffa8;
  --color-purple: #d796ff;
  --color-orange: #ff852d;
  --color-yellow: #fdff99;
  --color-blue: #89c8ff;

  --color-n-6: #f4f4e8;
  --color-n-5: #e7e6dc;
  --color-n-4: #d2d0c4;
  --color-n-3: #b2b0a6;
  --color-n-2: #807f76;
  --color-n-1: #41413d;
  --color-n-0: #222220;

  --font-body: var(--font-body);
  --font-heading: var(--font-migra);
  --ease-ease: cubic-bezier(0.16, 1, 0.3, 1);
}

@layer base {
  :root {
    --header-height: 7.2rem;
  }

  html {
    @apply text-[.6944444444vw] leading-[100%] antialiased [-webkit-text-size-adjust:100%];
  }

  @media (max-width: 1099px) {
    html {
      font-size: 1.3513513514vw;
    }
  }

  @media (max-width: 499px) {
    html {
      font-size: 2.5vw;
    }
  }

  body {
    @apply bg-dark text-light text-2xl leading-[140%] font-body;
  }

  html,
  body {
    @apply w-full h-auto overflow-x-hidden m-0 overscroll-none [scrollbar-width:none];
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }
}
